:root{
   --couleur-primaire: #FFFFFF;
   --couleur-secondaire: #F0F0F0;
   --couleur-tertiaire: #202C4A;
   --couleur-link-visited: #8B8B97;
   --couleur-link-hover: #E53847;

   --couleur-texte-primaire:#000000;
   --couleur-texte-secondaire:#FFFFFF;
   --couleur-degrade-bouton:linear-gradient(90deg,#62BDFC,#8490FF);
}
