:root{
//Dimension page
--max-width:7500%;
--min-width:2094%;
--padding-thin:768.75%;
--padding-large:687.5%;
--margin-thin:62.5%;
--margin-large:125%;
}
 //Media queries breakpoints
 $vw-thin:320px;
 $vw-small:576px;
 $vw-medium:768px;
 $vw-large:992px;
 $vw-thin:1200px;