a{

&:link{
color:var(--couleur-tertiaire);
text-decoration:none;
}

&:visited{
color:var(--couleur-link-visited);
}

&:hover{
color:var(--couleur-link-hover);
text-decoration:underline;
}

&:active{
color:var(--couleur-secondaire);
}

&:focus{
color:var(--couleur-texte-primaire)
}
}
