.header-principal{
width:375px;
height:159px;


padding:0;


}
.textehaut{
 display:flex;
align-items:center;
justify-content:center;
    h2{
 margin-left:var(--margin-large);
margin-right:20px;
 }

 }
