.hero{
height:504px;
width:100%;

 display: flex;
 flex-direction: column;
text-align: center;
background:var(--couleur-secondaire);
 background-image: url("../../images/louis-lajoie.png");
 background-repeat: no-repeat;
background-size:60%;
 background-position: bottom center ;
.conteneur{
height:250px;
 width:333px;
 margin: 10px ;
padding:0 20px 0 20px;

}
.conteneur p,h3, h1{
margin-left:0;
margin-right:0;
margin-top: 15px;
margin-bottom:15px;


}

}