.hero{
width:100%;

background:var(--couleur-secondaire);


.conteneur{
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
}
.conteneur p,h3, h1{
margin-left:0;
margin-right:0;
margin-top: 15px;
margin-bottom:15px;


}
 .hero.div{
  text-align: center;
 }

}