.hero{
height:504px;
width:100%;

 display: flex;
 flex-direction: column;
text-align: center;
background:var(--couleur-secondaire);
 background-image: url("../../images/louis-lajoie.png");
 background-repeat: no-repeat;
background-size:60%;
 background-position: bottom center ;
.conteneur{
height:250px;
}

}